<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <!-- NAME: FLOATING SKULLS -->
    <!--[if gte mso 15]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>Letsfarm | {{title}} Email</title>

                <style type="text/css">
                    p{
                    margin:10px 0;
                    padding:0;
                }
                    table{
                    border-collapse:collapse;
                }
                    h1,h2,h3,h4,h5,h6{
                    display:block;
                    margin:0;
                    padding:0;
                }
                    img,a img{
                    border:0;
                    height:auto;
                    outline:none;
                    text-decoration:none;
                }
                    body,#bodyTable,#bodyCell{
                    height:100%;
                    margin:0;
                    padding:0;
                    width:100%;
                }
                    .mcnPreviewText{
                    display:none !important;
                }
                    #outlook a{
                    padding:0;
                }
                    img{
                    -ms-interpolation-mode:bicubic;
                }
                    table{
                    mso-table-lspace:0pt;
                    mso-table-rspace:0pt;
                }
                    .ReadMsgBody{
                    width:100%;
                }
                    .ExternalClass{
                    width:100%;
                }
                    p,a,li,td,blockquote{
                    mso-line-height-rule:exactly;
                }
                    a[href^=tel],a[href^=sms]{
                    color:inherit;
                    cursor:default;
                    text-decoration:none;
                }
                    p,a,li,td,body,table,blockquote{
                    -ms-text-size-adjust:100%;
                    -webkit-text-size-adjust:100%;
                }
                    .ExternalClass,.ExternalClass p,.ExternalClass td,.ExternalClass div,.ExternalClass span,.ExternalClass font{
                    line-height:100%;
                }
                    a[x-apple-data-detectors]{
                    color:inherit !important;
                    text-decoration:none !important;
                    font-size:inherit !important;
                    font-family:inherit !important;
                    font-weight:inherit !important;
                    line-height:inherit !important;
                }
                    .templateContainer{
                    max-width:600px !important;
                }
                    a.mcnButton{
                    display:block;
                }
                    .mcnImage,.mcnRetinaImage{
                    vertical-align:bottom;
                }
                    .mcnTextContent{
                    word-break:break-word;
                }
                    .mcnTextContent img{
                    height:auto !important;
                }
                    .mcnDividerBlock{
                    table-layout:fixed !important;
                }
                    /*
                    @tab Page
                    @section Heading 1
                    @style heading 1
                    */
                    h1{
                    /*@editable*/color:#222222;
                    /*@editable*/font-family:'Lora', Georgia, 'Times New Roman', serif;
                    /*@editable*/font-size:40px;
                    /*@editable*/font-style:normal;
                    /*@editable*/font-weight:bold;
                    /*@editable*/line-height:150%;
                    /*@editable*/letter-spacing:normal;
                    /*@editable*/text-align:center;
                }
                    /*
                    @tab Page
                    @section Heading 2
                    @style heading 2
                    */
                    h2{
                    /*@editable*/color:#222222;
                    /*@editable*/font-family:'Lora', Georgia, 'Times New Roman', serif;
                    /*@editable*/font-size:34px;
                    /*@editable*/font-style:normal;
                    /*@editable*/font-weight:bold;
                    /*@editable*/line-height:150%;
                    /*@editable*/letter-spacing:normal;
                    /*@editable*/text-align:left;
                }
                    /*
                    @tab Page
                    @section Heading 3
                    @style heading 3
                    */
                    h3{
                    /*@editable*/color:#444444;
                    /*@editable*/font-family:'Courier New', Courier;
                    /*@editable*/font-size:22px;
                    /*@editable*/font-style:normal;
                    /*@editable*/font-weight:bold;
                    /*@editable*/line-height:150%;
                    /*@editable*/letter-spacing:normal;
                    /*@editable*/text-align:left;
                }
                    /*
                    @tab Page
                    @section Heading 4
                    @style heading 4
                    */
                    h4{
                    /*@editable*/color:#999999;
                    /*@editable*/font-family:'Courier New', Courier;
                    /*@editable*/font-size:20px;
                    /*@editable*/font-style:italic;
                    /*@editable*/font-weight:normal;
                    /*@editable*/line-height:125%;
                    /*@editable*/letter-spacing:normal;
                    /*@editable*/text-align:left;
                }
                    /*
                    @tab Header
                    @section Header Container Style
                    */
                    #templateHeader{
                    /*@editable*/background-color:#63C562;
                    /*@editable*/background-image:none;
                    /*@editable*/background-repeat:no-repeat;
                    /*@editable*/background-position:50% 50%;
                    /*@editable*/background-size:cover;
                    /*@editable*/border-top:0;
                    /*@editable*/border-bottom:0;
                    /*@editable*/padding-top:54px;
                    /*@editable*/padding-bottom:54px;
                }
                    /*
                    @tab Header
                    @section Header Interior Style
                    */
                    .headerContainer{
                    /*@editable*/background-image:none;
                    /*@editable*/background-repeat:no-repeat;
                    /*@editable*/background-position:center;
                    /*@editable*/background-size:cover;
                    /*@editable*/border-top:0;
                    /*@editable*/border-bottom:0;
                    /*@editable*/padding-top:0;
                    /*@editable*/padding-bottom:0;
                }
                    /*
                    @tab Header
                    @section Header Text
                    */
                    .headerContainer .mcnTextContent,.headerContainer .mcnTextContent p{
                    /*@editable*/color:#3D3D3D;
                    /*@editable*/font-family:'Lora', Georgia, 'Times New Roman', serif;
                    /*@editable*/font-size:16px;
                    /*@editable*/line-height:150%;
                    /*@editable*/text-align:left;
                }
                    /*
                    @tab Header
                    @section Header Link
                    */
                    .headerContainer .mcnTextContent a,.headerContainer .mcnTextContent p a{
                    /*@editable*/color:#3D3D3D;
                    /*@editable*/font-weight:normal;
                    /*@editable*/text-decoration:underline;
                }
                    /*
                    @tab Body
                    @section Body Container Style
                    */
                    #templateBody{
                    /*background-image:url("https://cdn-images.mailchimp.com/template_images/gallery/bg_skulltile.png");*/
                    background-position:center;
                    background-repeat:repeat;
                    background-size:auto;
                    /*@editable*/border-top:0;
                    /*@editable*/border-bottom:0;
                    /*@editable*/padding-top:0px;
                    padding-right:18px;
                    /*@editable*/padding-bottom:0px;
                    padding-left:18px;
                }
                    /*
                    @tab Body
                    @section Body Interior Style
                    */
                    .bodyContainer{
                    /*@editable*/background-color:#FFFFFF;
                    /*@editable*/background-image:none;
                    /*@editable*/background-repeat:no-repeat;
                    /*@editable*/background-position:center;
                    /*@editable*/background-size:cover;
                    /*@editable*/border:0;
                    /*@editable*/padding-top:18px;
                    /*@editable*/padding-bottom:18px;
                }
                    /*
                    @tab Body
                    @section Body Text
                    */
                    .bodyContainer .mcnTextContent,.bodyContainer .mcnTextContent p{
                    /*@editable*/color:#3D3D3D;
                    /*@editable*/font-family:'Lora', Georgia, 'Times New Roman', serif;
                    /*@editable*/font-size:16px;
                    /*@editable*/line-height:150%;
                    /*@editable*/text-align:left;
                }
                    /*
                    @tab Body
                    @section Body Link
                    */
                    .bodyContainer .mcnTextContent a,.bodyContainer .mcnTextContent p a{
                    /*@editable*/color:#5E5163;
                    /*@editable*/font-weight:normal;
                    /*@editable*/text-decoration:underline;
                }
                    /*
                    @tab Footer
                    @section Footer Style
                    */
                    #templateFooter{
                    /*@editable*/background-color:#63C562;
                    /*@editable*/background-image:none;
                    /*@editable*/background-repeat:repeat;
                    /*@editable*/background-position:50% 50%;
                    /*@editable*/background-size:auto;
                    /*@editable*/border-top:0;
                    /*@editable*/border-bottom:0;
                    /*@editable*/padding-top:72px;
                    /*@editable*/padding-bottom:72px;
                }
                    /*
                    @tab Footer
                    @section Footer Interior Style
                    */
                    .footerContainer{
                    /*@editable*/background-image:none;
                    /*@editable*/background-repeat:no-repeat;
                    /*@editable*/background-position:center;
                    /*@editable*/background-size:cover;
                    /*@editable*/border-top:0;
                    /*@editable*/border-bottom:0;
                    /*@editable*/padding-top:0;
                    /*@editable*/padding-bottom:0;
                }
                    /*
                    @tab Footer
                    @section Footer Text
                    */
                    .footerContainer .mcnTextContent,.footerContainer .mcnTextContent p{
                    /*@editable*/color:#FFFFFF;
                    /*@editable*/font-family:Helvetica;
                    /*@editable*/font-size:12px;
                    /*@editable*/line-height:150%;
                    /*@editable*/text-align:center;
                }
                    /*
                    @tab Footer
                    @section Footer Link
                    */
                    .footerContainer .mcnTextContent a,.footerContainer .mcnTextContent p a{
                    /*@editable*/color:#FFFFFF;
                    /*@editable*/font-weight:normal;
                    /*@editable*/text-decoration:underline;
                }
                    @media only screen and (max-width: 480px){
                    .columnWrapper{
                    max-width:100% !important;
                    width:100% !important;
                }

                }	@media only screen and (max-width: 480px){
                    body,table,td,p,a,li,blockquote{
                    -webkit-text-size-adjust:none !important;
                }

                }	@media only screen and (max-width: 480px){
                    body{
                    width:100% !important;
                    min-width:100% !important;
                }

                }	@media only screen and (max-width: 480px){
                    .mcnRetinaImage{
                    max-width:100% !important;
                }

                }	@media only screen and (max-width: 480px){
                    .mcnImage{
                    width:100% !important;
                }

                }	@media only screen and (max-width: 480px){
                    .mcnCartContainer,.mcnCaptionTopContent,.mcnRecContentContainer,.mcnCaptionBottomContent,.mcnTextContentContainer,.mcnBoxedTextContentContainer,.mcnImageGroupContentContainer,.mcnCaptionLeftTextContentContainer,.mcnCaptionRightTextContentContainer,.mcnCaptionLeftImageContentContainer,.mcnCaptionRightImageContentContainer,.mcnImageCardLeftTextContentContainer,.mcnImageCardRightTextContentContainer,.mcnImageCardLeftImageContentContainer,.mcnImageCardRightImageContentContainer{
                    max-width:100% !important;
                    width:100% !important;
                }

                }	@media only screen and (max-width: 480px){
                    .mcnBoxedTextContentContainer{
                    min-width:100% !important;
                }

                }	@media only screen and (max-width: 480px){
                    .mcnImageGroupContent{
                    padding:9px !important;
                }

                }	@media only screen and (max-width: 480px){
                    .mcnCaptionLeftContentOuter .mcnTextContent,.mcnCaptionRightContentOuter .mcnTextContent{
                    padding-top:9px !important;
                }

                }	@media only screen and (max-width: 480px){
                    .mcnImageCardTopImageContent,.mcnCaptionBottomContent:last-child .mcnCaptionBottomImageContent,.mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent{
                    padding-top:18px !important;
                }

                }	@media only screen and (max-width: 480px){
                    .mcnImageCardBottomImageContent{
                    padding-bottom:9px !important;
                }

                }	@media only screen and (max-width: 480px){
                    .mcnImageGroupBlockInner{
                    padding-top:0 !important;
                    padding-bottom:0 !important;
                }

                }	@media only screen and (max-width: 480px){
                    .mcnImageGroupBlockOuter{
                    padding-top:9px !important;
                    padding-bottom:9px !important;
                }

                }	@media only screen and (max-width: 480px){
                    .mcnTextContent,.mcnBoxedTextContentColumn{
                    padding-right:18px !important;
                    padding-left:18px !important;
                }

                }	@media only screen and (max-width: 480px){
                    .mcnImageCardLeftImageContent,.mcnImageCardRightImageContent{
                    padding-right:18px !important;
                    padding-bottom:0 !important;
                    padding-left:18px !important;
                }

                }	@media only screen and (max-width: 480px){
                    .mcpreview-image-uploader{
                    display:none !important;
                    width:100% !important;
                }

                }	@media only screen and (max-width: 480px){
                    /*
                    @tab Mobile Styles
                    @section Heading 1
                    */
                    h1{
                    /*@editable*/font-size:30px !important;
                    /*@editable*/line-height:125% !important;
                }

                }	@media only screen and (max-width: 480px){
                    /*
                    @tab Mobile Styles
                    @section Heading 2
                    */
                    h2{
                    /*@editable*/font-size:26px !important;
                    /*@editable*/line-height:125% !important;
                }

                }	@media only screen and (max-width: 480px){
                    /*
                    @tab Mobile Styles
                    @section Heading 3
                    */
                    h3{
                    /*@editable*/font-size:20px !important;
                    /*@editable*/line-height:150% !important;
                }

                }	@media only screen and (max-width: 480px){
                    /*
                    @tab Mobile Styles
                    @section Heading 4
                    */
                    h4{
                    /*@editable*/font-size:18px !important;
                    /*@editable*/line-height:150% !important;
                }

                }	@media only screen and (max-width: 480px){
                    /*
                    @tab Mobile Styles
                    @section Boxed Text
                    */
                    .mcnBoxedTextContentContainer .mcnTextContent,.mcnBoxedTextContentContainer .mcnTextContent p{
                    /*@editable*/font-size:14px !important;
                    /*@editable*/line-height:150% !important;
                }

                }	@media only screen and (max-width: 480px){
                    /*
                    @tab Mobile Styles
                    @section Header Text
                    */
                    .headerContainer .mcnTextContent,.headerContainer .mcnTextContent p{
                    /*@editable*/font-size:16px !important;
                    /*@editable*/line-height:150% !important;
                }

                }	@media only screen and (max-width: 480px){
                    /*
                    @tab Mobile Styles
                    @section Body Text
                    */
                    .bodyContainer .mcnTextContent,.bodyContainer .mcnTextContent p{
                    /*@editable*/font-size:16px !important;
                    /*@editable*/line-height:150% !important;
                }

                }	@media only screen and (max-width: 480px){
                    /*
                    @tab Mobile Styles
                    @section Footer Text
                    */
                    .footerContainer .mcnTextContent,.footerContainer .mcnTextContent p{
                    /*@editable*/font-size:14px !important;
                    /*@editable*/line-height:150% !important;
                }

                }</style></head>
<body>
<!--*|IF:MC_PREVIEW_TEXT|*-->
<!--[if !gte mso 9]><!----><span class="mcnPreviewText" style="display:none; font-size:0px; line-height:0px; max-height:0px; max-width:0px; opacity:0; overflow:hidden; visibility:hidden; mso-hide:all;">{{title}} Email</span>
<!--<![endif]-->
<!--*|END:IF|*-->
<center>
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
        <tr>
            <td align="center" valign="top" id="bodyCell">
                <!-- BEGIN TEMPLATE // -->
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td align="center" valign="top" id="templateHeader" data-template-container>
                            <!--[if (gte mso 9)|(IE)]>
                            <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                                <tr>
                                    <td align="center" valign="top" width="600" style="width:600px;">
                            <![endif]-->
                            <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
                                <tr>
                                    <td valign="top" class="headerContainer"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                                        <tbody class="mcnTextBlockOuter">
                                        <tr>
                                            <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                                                <!--[if mso]>
                                                <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                                                    <tr>
                                                <![endif]-->

                                                <!--[if mso]>
                                                <td valign="top" width="600" style="width:600px;">
                                                <![endif]-->
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                    <tbody><tr>

                                                        <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:2px; padding-left:18px;">

                                                            <span style="font-family:helvetica neue,helvetica,arial,verdana,sans-serif">
                                                                <span>
                                                                    <img src="https://firebasestorage.googleapis.com/v0/b/letsfarm-33131.appspot.com/o/logo%2FLetsfarm%20Logo.png?alt=media&token=5035eeb2-d137-4532-b074-98a6c2704f07" style="border: 0px;margin: 0px;" width="230" >&nbsp;
                                                                </span>
                                                                <!-- <span style="color:#FFFFFF">
                                                                     <span style="font-size:20px">Letsfarm</span>
                                                                 </span>-->
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                                <!--[if mso]>
                                                </td>
                                                <![endif]-->

                                                <!--[if mso]>
                                                </tr>
                                                </table>
                                                <![endif]-->
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table></td>
                                </tr>
                            </table>
                            <!--[if (gte mso 9)|(IE)]>
                            </td>
                            </tr>
                            </table>
                            <![endif]-->
                        </td>
                    </tr>
                    <tr>
                        <table cellpadding="0" cellspacing="0" border="0" width="100%">
                            <tr>
                                <td align="center" valign="top" id="templateBody" data-template-container>
                                    <!--[if (gte mso 9)|(IE)]>
                                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                                        <tr>
                                            <td align="center" valign="top" width="600" style="width:600px;">
                                    <![endif]-->
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
                                        <tr>
                                            <td valign="top" class="bodyContainer"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                                                <tbody class="mcnTextBlockOuter">
                                                <tr>
                                                    <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                                                        <!--[if mso]>
                                                        <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                                                            <tr>
                                                        <![endif]-->

                                                        <!--[if mso]>
                                                        <td valign="top" width="600" style="width:600px;">
                                                        <![endif]-->
                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody><tr>

                                                                <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

                                                                    Hello {{full_name}}, <br><br>

                                                                    Your request to withdraw from you wallet has been rejected.
                                                                    <br><br>
                                                                    Please contact Letsfarm to find out the reason why your request was rejected.
                                                                    <br/> <br/>
                                                                    Thanks,<br/>
                                                                    Letsfarm<br/><br/>

                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                        <!--[if mso]>
                                                        </td>
                                                        <![endif]-->

                                                        <!--[if mso]>
                                                        </tr>
                                                        </table>
                                                        <![endif]-->
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table></td>
                                        </tr>
                                    </table>
                                    <!--[if (gte mso 9)|(IE)]>
                                    </td>
                                    </tr>
                                    </table>
                                    <![endif]-->
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" id="templateFooter" data-template-container>
                                    <!--[if (gte mso 9)|(IE)]>
                                    <table align="center" border="0" cellspacing="0" cellpadding="0" width="600" style="width:600px;">
                                        <tr>
                                            <td align="center" valign="top" width="600" style="width:600px;">
                                    <![endif]-->
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer">
                                        <tr>
                                            <td valign="top" class="footerContainer"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock" style="min-width:100%;">
                                                <tbody class="mcnTextBlockOuter">
                                                <tr>
                                                    <td valign="top" class="mcnTextBlockInner" style="padding-top:9px;">
                                                        <!--[if mso]>
                                                        <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;">
                                                            <tr>
                                                        <![endif]-->

                                                        <!--[if mso]>
                                                        <td valign="top" width="600" style="width:600px;">
                                                        <![endif]-->
                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%; min-width:100%;" width="100%" class="mcnTextContentContainer">
                                                            <tbody><tr>

                                                                <td valign="top" class="mcnTextContent" style="padding-top:0; padding-right:18px; padding-bottom:9px; padding-left:18px;">

                                                                    All Rights Reserved<br>
                                                                    <br>
                                                                        <a href="https://letsfarm.com.ng" target="_blank">www.letsfarm.com.ng</a> <br/><br/>
                                                                        Letsfarm,<br/>
                                                                        66, De-Palace Building beside Dambold Filling Station,<br/>
                                                                        Quarry Road, Abeokuta,<br/>
                                                                        Nigeria.<br/>
                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                        <!--[if mso]>
                                                        </td>
                                                        <![endif]-->

                                                        <!--[if mso]>
                                                        </tr>
                                                        </table>
                                                        <![endif]-->
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table></td>
                                        </tr>
                                    </table>
                                    <!--[if (gte mso 9)|(IE)]>
                                    </td>
                                    </tr>
                                    </table>
                                    <![endif]-->
                                </td>
                            </tr>
                        </table>
                        <!-- // END TEMPLATE -->
                    </tr></table></td>
        </tr></table>



</center>
</body>
</html>
